<div class="container header__conteiner">
  <a href="" class="logo"><svg class="logo__img" width="66" height="52">
      <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
  </a>
  <button class="header__menu-open js-open-menu" aria-expanded="true" aria-controls="mobile-menu">
    <svg class="header__icon" aria-expanded="mobile menu switch" width="28" height="28">
      <use href="./images/sprite.svg#icon-hamburger"></use>
    </svg>
  </button>
  <div class="header__backdrop js-menu-container">
    <div class="header__mobile-menu">
      <button class="header__menu-close js-close-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="header__icon-close" width="24" height="24" aria-expanded="mobile menu switch">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <nav class="site-nav">
        <ul class="site-nav__list">
          <li class="site-nav__item"><a href="" class="site-nav__link">Home</a></li>
          <li class="site-nav__item"><a href="" class="site-nav__link">Offerings</a></li>
          <li class="site-nav__item"><a href="" class="site-nav__link">Favorites</a></li>
          <li class="site-nav__item"><a href="" class="site-nav__link">Comments</a></li>
          <li class="site-nav__item"><a href="" class="site-nav__link">Subscribe</a></li>
        </ul>
      </nav>
      <button type="button" class="header__btn">Order Now</button>
    </div>
  </div>
</div>