<section class="hero">
  <div class="container">
    <div class="hero__wrapper-left">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
        elementum tristique. Duis
        cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
      <button type="button" class="hero__btn" data-modal-open>Order Now</button>
    </div>
    <div class="div hero__wrapper-right">
      <picture class="hero__picture">
        <source
          srcset="./images/hero/slider-foto-1-tab_1x.webp, ./images/hero/slider-foto-1-tab_2x.webp 2x, ./images/hero/slider-foto-1-tab_2x.webp 3x"
          type="image/webp">
        <source
          srcset="./images/hero/slider-foto-1-tab_1x.png, ./images/hero/slider-foto-1-tab_2x.png 2x, ./images/hero/slider-foto-1-tab_2x.png 3x"
          type="image/png">
        <img src="./images/hero/slider-foto-1-tab_1x.png" alt="Salad" width="292">
      </picture>
      <button type="hero__button-left">
        <svg class="hero__svg-left" width="20" height="12">
          <use href="./images/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button type="hero__button-right">
        <svg class="hero__svg-left" width="20" height="12">
          <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>