<section class="offerings">
  <div class="container">
    <picture class="offerings__picture">
      <source
        srcset="./images/offerings/big-aple-in-circle-mob_1x.webp, ./images/offerings/big-aple-in-circle-mob_2x.webp 2x, ./images/offerings/big-aple-in-circle-mob_3x.webp 3x"
        type="image/webp">
      <source
        srcset="./images/offerings/big-aple-in-circle-mob_1x.png, ./images/offerings/big-aple-in-circle-mob_2x.png 2x, ./images/offerings/big-aple-in-circle-mob_3x.png 3x"
        type="image/png">
      <img src="./images/offerings/big-aple-in-circle-mob_1x.png" alt="apple" width="280">
    </picture>
    <div class="offerings__wrapper-right">
      <h2 class="offerings__title">What’s Special About Our Offerings</h2>
      <p class="offerings__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
        eros elementum tristique. Duis
        cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
      <ul class="offerings__list">
        <li class="offerings__item">
          <svg class="offerings__svg" width="32" height="32">
            <use href="./images/sprite.svg#icon-rocket"></use>
          </svg>
          <h3 class="offerings__subtitle">Fasest Delivery</h3>
          <p class="offerings__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
            enim in eros.</p>
        </li>
        <li class="offerings__item">
          <svg class="offerings__svg" width="32" height="32">
            <use href="./images/sprite.svg#icon-finger"></use>
          </svg>
          <h3 class="offerings__subtitle">Easy to order</h3>
          <p class="offerings__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
            enim in eros.</p>
        </li>
      </ul>
      <button class="offerings__btn">Order Now</button>
      <a href="" class="offerings__link">Read More
        <svg class="offerings__svg" width="14" height="14">
          <use class="offerings__svg" href="./images/sprite.svg#icon-arrow-btn"></use>
        </svg> </a>
    </div>

  </div>
</section>